@import '_var_mixins.scss';
@import '_reset.scss';

@font-face {
    font-family: Montserrat-Bold;
    src: url('../font/Montserrat-Bold.ttf');
}
@font-face {
	font-family: Montserrat-Regular;
	src: url('../font/Montserrat-Regular.ttf');
}
@font-face {
	font-family: KaushanScript-Regular;
	src: url('../font/KaushanScript-Regular.ttf');
}

body {
	min-width: 320px;
	margin: $margin-auto;
	overflow-x: hidden;
}

.wrap {
	max-width: 1024px;
	margin: $margin-auto;
	padding: 0 2px;
}

// Head Logo

.header {
	min-height: 650px;
  background: linear-gradient(to top, #FCE28A, #F48C82);
  color: white;
	a {
		font-family: Montserrat-Regular;
		text-transform: uppercase;
		color: white; 
	}
}

.logo__eagle {
	position: relative;
	min-height: inherit;
	background: url('../img/logo__bg.png') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.2;
}

.all__head {
	position: absolute;
  top: 1.5em;
	left: 0;
	right: 0;
}

.logo {
	font-size: 1.5em;
	font-family: Montserrat-Bold, sans-serif, Tahoma;
}

// Navigation in head

.logo__nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.navigation {
	@include flexbox-space-around();
	margin-top: 9px;
	&__item {
		display: table;
		margin-right: 4em;
		font-size: 0.7em;

		&:nth-child(7) { 
			margin: 0; 
		}
		&:nth-child(6):hover a,
		&:nth-child(7):hover a {
		 border: none; 
		}
	}
	&__img {
		display: block;
		width: 18px;
		height: 15px; 
	}
	a {
		padding-bottom: 5px;
		&:hover {
			border-bottom: 2px solid $nav-link;
			color: $nav-link;
			animation: animatelink 0.8s ease-in infinite; 
		}
	}
}

.basket { background: url('../img/basket_search.png') -48px -10px; }
.search { background: url('../img/basket_search.png') -10px -10px; }

@keyframes animatelink {
	0% { opacite: 0; }
	20% { opacity: 0.5; }
	50% { opacity: 0.5; }
	65% { opacity: 0.7; }
	75% { opacity: 1; }
	100% { opacity: 1; }
}

.greeting {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 600px;
    margin: $margin-auto;
	p {
		font-size: 3.5em;
		font-family: KaushanScript-Regular, sans-serif, Tahoma;
	}
	&__title {
		text-transform: uppercase;
		font-size: 6em;
		font-family: Montserrat-Bold, sans-serif, Tahoma;
	}
}