@import '_var_mixins.scss';
@import '_reset.scss';

@font-face {
    font-family: Montserrat-Bold;
    src: url('../font/Montserrat-Bold.ttf');
}
@font-face {
	font-family: Montserrat-Regular;
	src: url('../font/Montserrat-Regular.ttf');
}
@font-face {
	font-family: KaushanScript-Regular;
	src: url('../font/KaushanScript-Regular.ttf');
}

body {
	min-width: 320px;
	margin: $margin-auto;
	overflow-x: hidden;
}

.wrap {
	max-width: 1024px;
	margin: $margin-auto;
	padding: 0 2px;
}

// Head Logo

.header {
	position: relative;
  min-height: 670px;
  background: linear-gradient(to top, #FCE28A, #F48C82);
  color: white;
	animation: welcome 0.5s ease-in-out;
	a {
		font-family: Montserrat-Regular;
		text-transform: uppercase;
		color: white; 
	}
}

.logo__eagle {
	position: relative;
	min-height: inherit;
	background: url('../img/logo__bg.png') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.2;
}

.all__head {
	position: absolute;
  top: 1.5em;
	left: 0;
	right: 0;
}

.logo {
	font-size: 1.5em;
	font-family: Montserrat-Bold, sans-serif, Tahoma;
}

// Navigation in head

.logo__nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.navigation {
	@include flexbox-space-around();
	margin-top: 9px;
	&__item {
		display: table;
		margin-right: 4em;
		font-size: 0.7em;

		&:nth-child(7) { 
			margin: 0; 
		}
		&:nth-child(6):hover a,
		&:nth-child(7):hover a {
		 border: none; 
		}
	}
	&__img {
		display: block;
		width: 18px;
		height: 15px; 
	}
	a {
		padding-bottom: 5px;
		&:hover {
			border-bottom: 2px solid $nav-link;
			color: $nav-link;
			animation: animatelink 0.8s ease-in infinite; 
		}
	}
}

.basket { background: url('../img/basket_search.png') -48px -10px; }
.search { background: url('../img/basket_search.png') -10px -10px; }

@keyframes animatelink {
	0% { opacite: 0; }
	20% { opacity: 0.5; }
	50% { opacity: 0.5; }
	65% { opacity: 0.7; }
	75% { opacity: 1; }
	100% { opacity: 1; }
}

.greeting {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 75px 0;
	p {
		font-size: 3.5em;
		font-family: KaushanScript-Regular, sans-serif, Tahoma;
	}
	&__title {
		position: fixed;
		top: 200px;
		left: 0;
		right: 0;
		width: 6em;
		margin: 0 auto;
		text-transform: uppercase;
		font-size: 6em;
		font-family: Montserrat-Bold, sans-serif, Tahoma;
		animation: welcome 2s ease-in-out alternate;
	}
	// hr {
 //    width: 50px;
 //    height: 2px;
 //    margin: 35px auto;
 //    border: none;
 //    background: white;
	// }
}

@keyframes welcome {
	0% { opacity: 0; }
	50% { opacity: 0.7; }
	100% { opacity: 1; }
}

.more {
		position: relative;
		bottom: -30em;
    width: 100px;
    margin: $margin-auto;
    padding: 7px;
	  border: 2px solid white;
    font-size: 0.6em;
    &:hover {
    	border-color: grey;
    	color: grey;
    	background: rgba(211, 211, 211, 0.3);
    	transition: 0.3s;
    }
    &:before {
	    position: absolute;
	    top: -75px;
	    left: 0;
	    right: 0;
    	content: '';
	    width: 50px;
	    height: 2px;
	    margin: 35px auto;
	    border: none;
	    background: white;
    }
}

.nav__page {
	position: absolute;
	bottom: -21em;
	display: flex;
	justify-content: space-between;
	.page__item {
		position: relative;
		width: 240px;
		margin-right: 8px;
		padding-top: 10px;
		border-top: 2px solid white;
		&:nth-child(4) {
			margin:0;
		}
	}
	a {
		font-family: Montserrat-Regular, sans-serif, Tahoma;
		font-size: 0.8em;
		transition: 1s;
		span {
			font-weight: bold;
			font-size: 1.2em;
		}
		&:hover:before {
			content: '';
			position: absolute;
			top: -2px;
			// width: 60px;
			border: 1px solid red;
			animation: wellink 1s ease-in-out infinite alternate;
		}
	}
}

@keyframes wellink {
	0% { opacity: 0.1; width: 20px }
	50% { opacity: 0.7; border-color: black }
	100% { opacity: 1; width: 65px; border-color: grey }
}