.services {

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 33%;
    min-width: 26rem;
    padding: 4rem 2rem;
    border-bottom: 1px solid #E5E5E5;
    color: #999999;
  }

  &__item:nth-last-child(-n+3) {
    border: none;
  }

  &__title {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: black;
  }

  &__img {
    padding-right: 2rem;
  }

  &__text {
    margin-left: 5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}