.photo-story {
  margin: 10rem 0 0;
  display: flex;
  justify-content: space-between;

  &__item {
    width: 38rem;
    height: 25rem;
    display: inline-block;
    background: grey;
    position: relative;

    &-hover {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: .2s;
      cursor: pointer;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        display: inline-block;
        background: linear-gradient(0deg, rgba(238, 210, 119, 0.9), rgba(236, 122, 131, 0.9));
        position: absolute;
      }
    }

    &:hover {
      background: #9BE3D3 !important;
    }

    &:hover &-hover {
      top: -1rem;
      left: -1rem;
      opacity: 1;
    }
  }

  &__item-details {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    img {
      height: 5rem;
      display: inline-block;
      margin: 0 auto;
      object-fit: none;
    }
      
    p {
      display: flex;
      justify-content: center;
      font-size: 1.8rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      color: white;
    }
  }
}