*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
}

.wrap {
  position: relative;
  max-width: 1200px;
  height: inherit;
  margin: 0 auto;
}

section:not(.facts) {
  padding: 9rem 0;
}
