.heading-kaushan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;

  &--main {
    font-size: 7.2rem;
    font-family: 'Kaushan Script', cursive;
  }

  &--sub {
    padding-top: 4rem;
    text-transform:  uppercase;
    font-size: 15rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: .95;
  }
}

.kaushan-dark {
  margin-bottom: 8.5rem;
  line-height: 2.1;
  color: black;

  &--main {
    font-size: 2.4rem;
  }

  &--sub {
    padding-top: 0;
    font-size: 3rem;
  }
}


.white-line::after,
.red-line::after {
  content: '';
  width: 6rem;
  height: 3px;
  background: white;
  position: absolute;
  bottom: -6rem;
}

.red-line::after {
  background: #ED7A83;
  bottom: -4rem;
}