.doing__detail {
  display: flex;
  justify-content: space-between;

  &-item:last-child {margin: 0;}

  &-title {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #F0F0F0;
    cursor: pointer;
    position: relative;
  }

  &-open.open {
    transform: translateX(-50%) rotate(0);
  }

  &-open {
    width: 2.1rem;
    height: 1.3rem;
    background: url('../../../img/arrowpng.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 1.5rem;
    top: 40%;
    transform: translateX(-50%) rotate(180deg);
    transition: .5s;
  }

  &-img {
    margin-right: 1rem;
  }

  &-text {
    height: 16rem;
    border: 1px solid #F0F0F0;
    border-top: none;
    overflow-y: scroll;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.4;
    color: #BDBDBD;
    transition: .5s;
  }

  &-hide {
    height: 0rem;
    padding: 0rem;
  }
}