.header {
  height: 100vh;
  background: linear-gradient(0deg, rgba(238, 210, 119, 0.9), rgba(236, 122, 131, 0.9)), url(../../../img/eagle.jpg) no-repeat center 0;
  background-size: cover;
  color: white;

  &__title-nav {
    padding-top: 2.6rem;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    transform: translateX(-5.5rem);
  }

  &__text-box {
    max-width: 80%;
    margin: 9rem auto 0;
    text-align: center;
  }

  &__text-title {
    margin-bottom: 10.5rem;
  }

  &__slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0;

    &-item {
      width: 100%;
      margin-right: 3rem;
      padding: 2rem 0;
      border-top: 3px solid rgba(255, 255, 255, 0.65);
      text-decoration: none;
      color: rgba(255, 255, 255, 0.65);
      cursor: pointer;
      transition: .3s;
      position: relative;

      &:before {
        content: '';
        height: 3px;
        background: red;
        width: 0;
        position: absolute;
        top: -3px;
        transition: .3s;
      }

      &:hover {
        border-top: 3px solid white;
        color: white;
      }

      &:hover:before {
        width: 30%;
      }

      &:last-child {
        margin: 0;
      }
    }

    p {
      font-size: 1.8rem;
      font-weight: 400;
    }

    span {
      padding-right: .8rem;
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
}

