.doing__detail {
  margin-top: 9.5rem;
  display: flex;
  justify-content: space-between;

  > div {
    width: 100%;
    max-width: 57rem;
  }

  &-photo {
    width: 100%;
    height: 38rem;
    background: url('../../../img/wedo.png') no-repeat center !important;
  }

  &-advantages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}