.btn {
  padding: .9rem 2.5rem;
  border: 3px solid white;
  background: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  cursor: pointer;
}