.design {
  min-height: 85rem;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../../../img/mountain.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.devices {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;

  &__item {
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translate(-50%, 0%);
  }

  &__item:last-child {
    left: 62%;
    bottom: -9%;
  }
}