
.facts {
  width: 100%;
  height: 27rem;
  background: #9BE3D3;

  &__contain {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__item {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;

    &:last-child {
      border-right: 1px solid rgba(255, 255, 255, 0.4);
    }
  }

  &__count {
    margin-bottom: 2rem;
    font-size: 7.2rem;
    font-weight: 700;
  }

  &__what {
    font-size: 1.4rem;
    font-weight: 500;
  }
}