.navigation {

  a {
    position: relative;
    display: inline-block;
    margin: 0 2.8rem;
    padding: 1.2rem 0;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    transition: .3s;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      height: 3px;
      background: #F8E291;
      transition: .3s;
    }

    &:hover { color: #F8E291; }

    &:hover:before { width: 100%; }
  }
}

.basket,
.search {
  min-width: 1.8rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.basket {
  transform: translateX(2rem);
  background-image: url(../../../img/basket.png);
}

.search {
  transform: translateX(5.5rem);
  background-image: url(../../../img/search.png);
}